{% extends "base.html" %}
{% block title %}Список квизов{% endblock %}
{% block header %}Список Квизов{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for quiz in quizzes %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="fw-medium">{{ quiz.name }}</span>
        <div class="d-flex gap-2">
          <button
            class="btn btn-primary btn-sm"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#quizStartModal{{ quiz.id }}"
          >
            Предпросмотр / Начать
          </button>
        </div>
      </li>
      {% include 'quiz_start_modal.html' %}
    {% else %}
      <li class="list-group-item text-secondary">Пока нет квизов</li>
    {% endfor %}
  </ul>
{% endblock %}