<div class="modal fade" id="quizStartModal{{ quiz.id }}" tabindex="-1"
     aria-labelledby="quizStartModalLabel{{ quiz.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="quizStartModalLabel{{ quiz.id }}">{{ quiz.name }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <p class="fs-6 mb-2 text-secondary">ID: {{ quiz.id }}</p>
        <p class="fs-5">Количество вопросов: <strong>{{ quiz.questions | length }}</strong></p>
        <p>Готовы начать квиз?</p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('routes.quiz_go', quiz_id=quiz.id, new=1) }}" class="btn btn-success">Начать</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>