<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Примеры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% extends "index.html" %}
    {% block content %}
    <main>
        <section class="section1" id="'section1">
            <div class="task1 container">
                <p class="task">Task 1</p>
                <div class="task_inner">
                    <h2>Joy of T<sub>E</sub>X</h2>
                </div>
            </div>
            <div class="task2 container">
                <p class="task">Task 2</p>
                <div class="task_inner">
                       <h2>Евгений Евтушенко</h2>
                <p>&mdash;1955&mdash;</p>
                <pre>
Бывало, спит у ног собака
костер занявшийся гудит,
и женщина из полумрака 
глазами зыбкими глядит.

Потом под пихтою приляжет
на куртку рыжую мою
и мне,
    задумчивая,
            скажет:
&laquo;А ну-ка, спой!..&raquo; - 
                и я пою.
                </pre>
                </div>
            </div>
        </section>
        <section class="section2" id="section2">
             <div class="task3 container">
                <p class="task">Task 3</p>
                <div class="task_inner">
                    <table>
                        <caption>Добыча драгоценных камней</caption>
                        <tbody>
                            <tr>
                                <th class="first_col"></th>
                                <th>2010</th>
                                <th>2012</th>
                                <th>2014</th>
                            </tr>
                            <tr>
                                <td class="first_col">Сапфиры</td>
                                <td rowspan="2">1483</td>
                                <td>4532</td>
                                <td>6743</td>
                            </tr>
                             <tr>
                                <td class="first_col">Рубины</td>
                                <td>3835</td>
                                <td>7482</td>
                            </tr>
                            <tr>
                                <td class="first_col">Алмазы</td>
                                <td >683</td>
                                <td class="last_col" colspan="2">238</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
             <div class="task4 container">
                <p class="task">Task 4</p>
                <div class="task_inner">
                    <table class="task4_table">
                            <tr>
                                <th ></th>
                                <th>2004</th>
                                <th>2005</th>
                                <th>2006</th>
                            </tr>
                            <tr>
                                <td>Рубины</td>
                                <td>43</td>
                                <td>51</td>
                                <td>79</td>
                            </tr>
                             <tr>
                                <td>Изумруды</td>
                                <td>28</td>
                                <td>34</td>
                                <td>48</td>
                            </tr>
                            <tr>
                                <td>Сапфиры</td>
                                <td>29</td>
                                <td>57</td>
                                <td>36</td>
                            </tr>
                            <tr>
                                <td>Аметисты</td>
                                <td>23</td>
                                <td>64</td>
                                <td>97</td>
                            </tr>
                        </table>
                </div>   
            </div>
        </section>
        <section class="section3" id="section3">
             <div class="task5 container">
                <p class="task">Task 5</p>
                <div class="task_inner">
                    <table class="task5_table">

                        <tr>
                            <th>Название</th>
                            <th>Цвет</th>
                            <th>Твердость по Моосу</th>
                            <th>Формула</th>
                        </tr>
                        <tr>
                            <td>Алмаз</td>
                            <td>Белый</td>
                            <td>10</td>
                            <td>C</td>
                        </tr>
                        <tr>
                            <td>Рубин</td>
                            <td>Красный</td>
                            <td>9</td>
                            <td>Al<sub>2</sub>O<sub>3</sub></td>
                        </tr>
                        <tr>
                            <td>Аметист</td>
                            <td>Голубой</td>
                            <td>7</td>
                            <td>SiO<sub>2</sub></td>
                        </tr>
                        <tr>
                            <td>Изумруд</td>
                            <td>Зеленый</td>
                            <td>8</td>
                            <td>Be<sub>3</sub>Al<sub>2</sub>(SiO<sub>3</sub>)<sub>6</sub></td>
                        </tr>
                        <tr>
                            <td>Сапфир</td>
                            <td>Голубой</td>
                            <td>9</td>
                            <td>Al<sub>2</sub>O<sub>3</sub></td>
                        </tr>
                    </table>
                </div>
            </div>
             <div class="task6 container">
                <p class="task">Task 6</p>
                <div class="task_inner task6_inner">
                    <h2>Карта сокровищ</h2>
                    <img class="task6_img" src="https://img.freepik.com/premium-vector/map-treasures-paper-parchment_8071-3421.jpg" alt="no">
                    <div class="progress-container">
                        <p>Пройдено: </p>
                        <progress value="60" max="100"></progress>
                     </div>
                </div>
            </div>
        </section>
        <section class="section4" id="section4">
             <div class="task7 container">
                <p class="task">Task 7</p>
                <div class="task7_inner task_inner">
                   <h2>Химические элементы</h2>
                    <table class="task7_table">
                        <tr>
                            <th>Номер</th>
                            <th>Название</th>
                            <th>Символ</th>
                            <th>Год</th>
                            <th>Статья</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><a href="#">Водород</a></td>
                            <td>H</td>
                            <td>1766</td>
                            <td><svg version="1.1" id="paper-pencil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                    y="0px" viewBox="0 0 1009.9766 1009.9527" enable-background="new 0 0 1009.9766 1009.9527" xml:space="preserve">
                                <g id="paper-pencil-label">
                                    <path fill="#A9A9A9" d="M504.9644,0C226.0957,0,0,226.1314,0,504.9878c0,278.9043,226.0957,504.9649,504.9644,504.9649
                                        c278.8921,0,505.0122-226.0606,505.0122-504.9649C1009.9766,226.1314,783.8565,0,504.9644,0z"/>
                                </g>
                                <g id="paper-pencil-paper-pencil">
                                    <polygon fill="#FFFFFF" points="571.419,601.8101 649.2197,658.0152 741.4649,530.3257 663.6524,474.1206 	"/>
                                    <polygon fill="#FFFFFF" points="566.7471,608.2808 570.1201,686.6304 644.5479,664.4859 	"/>
                                    <path fill="#FFFFFF" d="M754.7891,484.5611l-51.8672-37.4707c-7.1631-5.1719-17.3164-3.337-22.6914,4.1001
                                        c-0.2988,0.4052-11.2988,15.8032-11.5371,16.2202l77.5742,56.0381c0.3096-0.3692,11.4648-15.6602,11.7627-16.0528
                                        C763.4053,499.9585,761.9512,489.7212,754.7891,484.5611z"/>
                                    <path fill="#FFFFFF" d="M613.6914,363.2241H341.3428c-8.6289,0-15.625,6.9957-15.625,15.6363
                                        c0,8.6167,6.9961,15.6128,15.625,15.6128h272.3486c8.6289,0,15.6367-6.9961,15.6367-15.6128
                                        C629.3281,370.2198,622.3203,363.2241,613.6914,363.2241z"/>
                                    <path fill="#FFFFFF" d="M629.3281,445.0767c0-8.6289-7.0078-15.6245-15.6367-15.6245H341.3428
                                        c-8.6289,0-15.625,6.9956-15.625,15.6245c0,8.6284,6.9961,15.624,15.625,15.624h272.3486
                                        C622.3203,460.7007,629.3281,453.7051,629.3281,445.0767z"/>
                                    <path fill="#FFFFFF" d="M542.2559,495.6802H341.3428c-8.6289,0-15.625,6.9961-15.625,15.624c0,8.6289,6.9961,15.625,15.625,15.625
                                        h200.9131c8.6288,0,15.6367-6.9961,15.6367-15.625C557.8926,502.6763,550.8848,495.6802,542.2559,495.6802z"/>
                                    <path fill="#FFFFFF" d="M542.2559,561.9077H341.3428c-8.6289,0-15.625,6.9961-15.625,15.625
                                        c0,8.6288,6.9961,15.6368,15.625,15.6368h200.9131c8.6288,0,15.6367-7.0079,15.6367-15.6368
                                        C557.8926,568.9038,550.8848,561.9077,542.2559,561.9077z"/>
                                    <path fill="#FFFFFF" d="M675.0938,682.4468c-0.0479,28.1387-23.2168,51.3066-51.3428,51.3545H518.8252v-22.335
                                        c-0.0596-45.5263-37.0654-82.5312-82.5918-82.5908H279.9531V327.5059c0.0596-28.1382,23.2164-51.3071,51.3545-51.3428H623.751
                                        c28.126,0.0357,51.2949,23.2046,51.3428,51.3428v115.9018c4.9453-5.3154,11.7861-8.1875,18.6875-8.1757
                                        c4.29-0.0118,8.6523,1.1923,12.5605,3.5161V327.5059c-0.0469-45.5386-37.0644-82.5562-82.5908-82.6035H331.3076
                                        c-45.5385,0.0473-82.5556,37.0649-82.6035,82.6035v317.0054c0,0.0957,0.0479,0.2031,0.0479,0.3105
                                        c0.0234,1.4297,0.2144,2.8125,0.6196,4.1592c0,0,0,0.0117,0,0.0244c0.4175,1.3584,1.0249,2.6211,1.7876,3.8369
                                        c0.0713,0.1074,0.1431,0.2266,0.2148,0.334c0.751,1.1318,1.6445,2.1689,2.6934,3.0752c0.1309,0.1064,0.2739,0.2021,0.4053,0.3096
                                        c1.0723,0.8818,2.2402,1.6562,3.5752,2.2519l238.872,104.9141c1.001,0.4414,2.0381,0.7744,3.0865,1.001
                                        c1.061,0.2148,2.1215,0.3223,3.1938,0.3223l0,0l0,0H623.751c45.5264-0.0478,82.5439-37.0654,82.5908-82.6035v-88.2646
                                        l-31.248,43.2744V682.4468z"/>
                                </g>
                                </svg></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#">Гелий</a></td>
                            <td>He</td>
                            <td>1895</td>
                            <td><svg version="1.1" id="paper-pencil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                    y="0px" viewBox="0 0 1009.9766 1009.9527" enable-background="new 0 0 1009.9766 1009.9527" xml:space="preserve">
                                <g id="paper-pencil-label">
                                    <path fill="#A9A9A9" d="M504.9644,0C226.0957,0,0,226.1314,0,504.9878c0,278.9043,226.0957,504.9649,504.9644,504.9649
                                        c278.8921,0,505.0122-226.0606,505.0122-504.9649C1009.9766,226.1314,783.8565,0,504.9644,0z"/>
                                </g>
                                <g id="paper-pencil-paper-pencil">
                                    <polygon fill="#FFFFFF" points="571.419,601.8101 649.2197,658.0152 741.4649,530.3257 663.6524,474.1206 	"/>
                                    <polygon fill="#FFFFFF" points="566.7471,608.2808 570.1201,686.6304 644.5479,664.4859 	"/>
                                    <path fill="#FFFFFF" d="M754.7891,484.5611l-51.8672-37.4707c-7.1631-5.1719-17.3164-3.337-22.6914,4.1001
                                        c-0.2988,0.4052-11.2988,15.8032-11.5371,16.2202l77.5742,56.0381c0.3096-0.3692,11.4648-15.6602,11.7627-16.0528
                                        C763.4053,499.9585,761.9512,489.7212,754.7891,484.5611z"/>
                                    <path fill="#FFFFFF" d="M613.6914,363.2241H341.3428c-8.6289,0-15.625,6.9957-15.625,15.6363
                                        c0,8.6167,6.9961,15.6128,15.625,15.6128h272.3486c8.6289,0,15.6367-6.9961,15.6367-15.6128
                                        C629.3281,370.2198,622.3203,363.2241,613.6914,363.2241z"/>
                                    <path fill="#FFFFFF" d="M629.3281,445.0767c0-8.6289-7.0078-15.6245-15.6367-15.6245H341.3428
                                        c-8.6289,0-15.625,6.9956-15.625,15.6245c0,8.6284,6.9961,15.624,15.625,15.624h272.3486
                                        C622.3203,460.7007,629.3281,453.7051,629.3281,445.0767z"/>
                                    <path fill="#FFFFFF" d="M542.2559,495.6802H341.3428c-8.6289,0-15.625,6.9961-15.625,15.624c0,8.6289,6.9961,15.625,15.625,15.625
                                        h200.9131c8.6288,0,15.6367-6.9961,15.6367-15.625C557.8926,502.6763,550.8848,495.6802,542.2559,495.6802z"/>
                                    <path fill="#FFFFFF" d="M542.2559,561.9077H341.3428c-8.6289,0-15.625,6.9961-15.625,15.625
                                        c0,8.6288,6.9961,15.6368,15.625,15.6368h200.9131c8.6288,0,15.6367-7.0079,15.6367-15.6368
                                        C557.8926,568.9038,550.8848,561.9077,542.2559,561.9077z"/>
                                    <path fill="#FFFFFF" d="M675.0938,682.4468c-0.0479,28.1387-23.2168,51.3066-51.3428,51.3545H518.8252v-22.335
                                        c-0.0596-45.5263-37.0654-82.5312-82.5918-82.5908H279.9531V327.5059c0.0596-28.1382,23.2164-51.3071,51.3545-51.3428H623.751
                                        c28.126,0.0357,51.2949,23.2046,51.3428,51.3428v115.9018c4.9453-5.3154,11.7861-8.1875,18.6875-8.1757
                                        c4.29-0.0118,8.6523,1.1923,12.5605,3.5161V327.5059c-0.0469-45.5386-37.0644-82.5562-82.5908-82.6035H331.3076
                                        c-45.5385,0.0473-82.5556,37.0649-82.6035,82.6035v317.0054c0,0.0957,0.0479,0.2031,0.0479,0.3105
                                        c0.0234,1.4297,0.2144,2.8125,0.6196,4.1592c0,0,0,0.0117,0,0.0244c0.4175,1.3584,1.0249,2.6211,1.7876,3.8369
                                        c0.0713,0.1074,0.1431,0.2266,0.2148,0.334c0.751,1.1318,1.6445,2.1689,2.6934,3.0752c0.1309,0.1064,0.2739,0.2021,0.4053,0.3096
                                        c1.0723,0.8818,2.2402,1.6562,3.5752,2.2519l238.872,104.9141c1.001,0.4414,2.0381,0.7744,3.0865,1.001
                                        c1.061,0.2148,2.1215,0.3223,3.1938,0.3223l0,0l0,0H623.751c45.5264-0.0478,82.5439-37.0654,82.5908-82.6035v-88.2646
                                        l-31.248,43.2744V682.4468z"/>
                                </g>
                                </svg></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#">Бор</a></td>
                            <td>B</td>
                            <td>1808</td>
                            <td><svg version="1.1" id="paper-pencil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                    y="0px" viewBox="0 0 1009.9766 1009.9527" enable-background="new 0 0 1009.9766 1009.9527" xml:space="preserve">
                                <g id="paper-pencil-label">
                                    <path fill="#A9A9A9" d="M504.9644,0C226.0957,0,0,226.1314,0,504.9878c0,278.9043,226.0957,504.9649,504.9644,504.9649
                                        c278.8921,0,505.0122-226.0606,505.0122-504.9649C1009.9766,226.1314,783.8565,0,504.9644,0z"/>
                                </g>
                                <g id="paper-pencil-paper-pencil">
                                    <polygon fill="#FFFFFF" points="571.419,601.8101 649.2197,658.0152 741.4649,530.3257 663.6524,474.1206 	"/>
                                    <polygon fill="#FFFFFF" points="566.7471,608.2808 570.1201,686.6304 644.5479,664.4859 	"/>
                                    <path fill="#FFFFFF" d="M754.7891,484.5611l-51.8672-37.4707c-7.1631-5.1719-17.3164-3.337-22.6914,4.1001
                                        c-0.2988,0.4052-11.2988,15.8032-11.5371,16.2202l77.5742,56.0381c0.3096-0.3692,11.4648-15.6602,11.7627-16.0528
                                        C763.4053,499.9585,761.9512,489.7212,754.7891,484.5611z"/>
                                    <path fill="#FFFFFF" d="M613.6914,363.2241H341.3428c-8.6289,0-15.625,6.9957-15.625,15.6363
                                        c0,8.6167,6.9961,15.6128,15.625,15.6128h272.3486c8.6289,0,15.6367-6.9961,15.6367-15.6128
                                        C629.3281,370.2198,622.3203,363.2241,613.6914,363.2241z"/>
                                    <path fill="#FFFFFF" d="M629.3281,445.0767c0-8.6289-7.0078-15.6245-15.6367-15.6245H341.3428
                                        c-8.6289,0-15.625,6.9956-15.625,15.6245c0,8.6284,6.9961,15.624,15.625,15.624h272.3486
                                        C622.3203,460.7007,629.3281,453.7051,629.3281,445.0767z"/>
                                    <path fill="#FFFFFF" d="M542.2559,495.6802H341.3428c-8.6289,0-15.625,6.9961-15.625,15.624c0,8.6289,6.9961,15.625,15.625,15.625
                                        h200.9131c8.6288,0,15.6367-6.9961,15.6367-15.625C557.8926,502.6763,550.8848,495.6802,542.2559,495.6802z"/>
                                    <path fill="#FFFFFF" d="M542.2559,561.9077H341.3428c-8.6289,0-15.625,6.9961-15.625,15.625
                                        c0,8.6288,6.9961,15.6368,15.625,15.6368h200.9131c8.6288,0,15.6367-7.0079,15.6367-15.6368
                                        C557.8926,568.9038,550.8848,561.9077,542.2559,561.9077z"/>
                                    <path fill="#FFFFFF" d="M675.0938,682.4468c-0.0479,28.1387-23.2168,51.3066-51.3428,51.3545H518.8252v-22.335
                                        c-0.0596-45.5263-37.0654-82.5312-82.5918-82.5908H279.9531V327.5059c0.0596-28.1382,23.2164-51.3071,51.3545-51.3428H623.751
                                        c28.126,0.0357,51.2949,23.2046,51.3428,51.3428v115.9018c4.9453-5.3154,11.7861-8.1875,18.6875-8.1757
                                        c4.29-0.0118,8.6523,1.1923,12.5605,3.5161V327.5059c-0.0469-45.5386-37.0644-82.5562-82.5908-82.6035H331.3076
                                        c-45.5385,0.0473-82.5556,37.0649-82.6035,82.6035v317.0054c0,0.0957,0.0479,0.2031,0.0479,0.3105
                                        c0.0234,1.4297,0.2144,2.8125,0.6196,4.1592c0,0,0,0.0117,0,0.0244c0.4175,1.3584,1.0249,2.6211,1.7876,3.8369
                                        c0.0713,0.1074,0.1431,0.2266,0.2148,0.334c0.751,1.1318,1.6445,2.1689,2.6934,3.0752c0.1309,0.1064,0.2739,0.2021,0.4053,0.3096
                                        c1.0723,0.8818,2.2402,1.6562,3.5752,2.2519l238.872,104.9141c1.001,0.4414,2.0381,0.7744,3.0865,1.001
                                        c1.061,0.2148,2.1215,0.3223,3.1938,0.3223l0,0l0,0H623.751c45.5264-0.0478,82.5439-37.0654,82.5908-82.6035v-88.2646
                                        l-31.248,43.2744V682.4468z"/>
                                </g>
                                </svg></td>
                        </tr>
                    </table>
                </div>
                
            </div>
             <div class="task8 container">
                <p class="task">Task 8</p>
                <div class="task_inner">
                   <h2>Генераторы</h2>
                   <ul class="main_ul">
                    <li>
                        Цвета
                        <ul class="first_ul">
                            <li>Color Mixers</li>
                            <li>Color Tester</li>
                            <li>Color Pallete</li>
                        </ul>
                    </li>
                    <li>
                        Фавиконы
                        <ol class="second_ol">
                            <li>
                                Favicon.cc
                                <ul class="second_1_ul">
                                    <li><a href="#">Скачать</a></li>
                                    <li><a href="#">Демо</a></li>
                                </ul>
                            </li>
                            <li>WebLab Favicon</li>
                        </ol>
                    </li>
                    <li>
                        Фоны
                        <ul class="third_ul">
                            <li>BigMaker</li>
                            <li>StripeGenerator</li>
                        </ul>
                    </li>
                    <li>
                        Изображения
                        <ol class="four_ol">
                            <li>Buttonator</li>
                            <li>AjaxLoad</li>
                        </ol>
                    </li>
                   </ul>
                </div>
        </section>
         <section class="section5" id="'section5">
            <div class="task9 container">
                <p class="task">Task 9</p>
                <div class="task_inner task9_inner">
                    <h2>Стихотворение</h2>
                    <p>Мириады маленьких дел</p>
                    <p>Пьют по капле гаснущий день,</p>
                    <p>А <i>дела большие</i> сушит жажда,</p>
                    <p>Оставляя все на &laquo;потом&raquo;</p>
                    <p>Прозреваем задним числом,</p>
                    <p>Только день <b>не повторится</b> дважды.</p>
                    <br>
                    <p>И. Тальков</p>
                </div>
            </div>
            <div class="task10 container">
                <p class="task">Task 10</p>
                <div class="task_inner task10_inner">
                     <h1>Заголовок первого уровня</h1>
                     <h2>Заголовок второго уровня</h2>
                     <h3>Заголовок третьего уровня</h3>
                     <span>Пример ссылки <a href="#">ведущей на другую страницу</a></span>
             
                </div>
            </div>
        </section>
        <section class="section6" id="section6">
            <div class="task11 container">
                <p class="task">Task 11</p>
                <div class="task_inner task11_inner">
                   <label>Неделя:<input type="week"></label>
                   <label>Дата и время: <input type="datetime-local"></label>
                   <label>Месяц:<input type="month"></label>
                   <label>Время:<input type="time"></label>
                    <button type="submit">Отправить</button>
                </div>
            </div>
            <div class="task12 container">
                <p class="task">Task 12</p>
                <div class="task_inner task12_inner">
                    <h1>Форма отправки заявки на работу в зоопарке</h1>
                    <p class="disciption"><i>Пожалуйста заполните форму. Обязательные поля помечены</i> <span class="star">*</span></p>
                    <form action="#">
                         <fieldset class="field1 field">
                            <legend>Контактная информация</legend>
                            <div class="form-row row1">
                                <label>Имя<span class="star">*</span></label>
                                <label>Телефон</label>
                                <label>Email<span class="star">*</span></label>
                                
                            </div>
                            <div class="form-row row2">
                                <input type="text" required>
                                <input type="tel">
                                <input type="email" required>
                            </div>

                        </fieldset>
                        <fieldset class="field2 field">
                            <legend>Персональная информация</legend>
                            <div class="form-row row1">
                                <label>Возраст<span class="star">*</span></label>
                                <label>Пол</label>
                                <label>Перечислите личные качества</label>
                                
                            </div>
                            <div class="form-row row2">
                                <input type="number" max="100" min="18" required>
                                <select>
                                    <option value="woman">Женщина</option>
                                    <option value="man">Мужчина</option>
                                    <option value="god">Программист</option>
                                </select>
                                <textarea rows="10" cols="45" name="text"></textarea>
                            </div>

                        </fieldset>
                        <fieldset class="field3 field">
                            <legend>Выберите ваших любимых животных</legend>
                            <label><input type="checkbox" value="option1">Зёбра</label>
                            <label><input type="checkbox" value="option2">Кошак</label>
                            <label><input type="checkbox" value="option3">Анаконда</label>
                            <label><input type="checkbox" value="option4">Человек</label>
                            <label><input type="checkbox" value="option5">Слон</label>
                            <label><input type="checkbox" value="option6">Антилопа</label>
                            <label><input type="checkbox" value="option7">Голубь</label>
                            <label><input type="checkbox" value="option8">Краб</label>
                        </fieldset>
                        <button class="form_btn" type="submit">Отправить информацию</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    {%endblock%}
    <footer>

    </footer>
</body>
</html>